/* CSS Variables for consistent theming */
:root {
    --primary-color: #343434;
    --secondary-color: #535353;
    --tertiary-color: #a0483d;
    --fourtiary-color: #b4b0ab;
    --fifthiary-color: #f6f6f6;
    --font-family: "DM Sans", sans-serif;
    --base-font-size: 62.5%; /* 10px */
    --document-font-size: 1.6rem;
    --heading-font-family: "Clear Sans", sans-serif;
    --title-line-height: 6rem;
    --line-height: 2.4rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins and paddings */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure,
figcaption {
    margin: 0;
    padding: 0;
}

/* Set base font size for responsive text scaling */
html {
    font-size: var(--base-font-size);
}

/* Body base styles */
body {
    font-family: var(--font-family);
    font-size: var(--document-font-size);
    line-height: var(--line-height);
    color: var(--primary-color); /* Default text color */
    background-color: var(--secondary-color);
}

/* Headings base styles */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font-family);
    line-height: var(--title-line-height);
}

h1 {
    font-size: 5.6rem;
    letter-spacing: 0.5rem;
    padding-bottom: 5rem;
}

h2 {
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 120%;
    padding-bottom: 3rem;
}

h3 {
    font-size: 2rem;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Universal button styling */
.button-link {
    display: inline-block;
    text-decoration: none;
    background-color: #a0483d;
    color: #f6f6f6;
    padding: 1rem 6rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease;
}

.button-link:hover {
    background-color: #c95b4c;
}

/* -------------- HOME -------------- */
.home_container {
    background-color: #f6f6f6;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
    gap: 2rem;
    height: 100vh;
    width: 100vw;
}

.home_container img {
    height: 100%;
    width: auto;
    object-fit: cover;
}

.home_image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home_text {
    text-align: center;
    padding-top: 20rem;
}

/* -------------- ABOUT -------------- */
.about {
    background-color: var(--fourtiary-color);
    color: var(--primary-color);
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
}

.about h1,
.about p {
    text-align: left;
    padding-left: 20%;
    padding-right: 20%;
}

.about h1 {
    padding-top: 15rem;
    margin-bottom: 5rem;
    text-align: le;
}

.about p {
    margin-top: 10px;
}

/* -------------- EXPERIENCE -------------- */
.experience_container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.experience_light {
    background-color: var(--fifthiary-color);
    padding-top: 5%;
    width: 66.66%;
    place-items: center;
    overflow-y: auto;
}

.experience_light_container {
    max-width: 800px;
    margin: auto;
    height: 100%;
}

.one_position {
    display: grid;
    grid-template-columns: min-content auto;
    align-items: start;
    gap: 2rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.year {
    font-weight: bold;
    white-space: nowrap;
}

.jobtitle,
.company,
.description {
    grid-column-start: 2;
}

.jobtitle {
    font-weight: bold;
    margin-bottom: 0.1rem;
}

.experience_dark {
    background-color: var(--secondary-color);
    color: var(--fourtiary-color);
    width: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* -------------- EDUCATION -------------- */
.education_container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    font-size: 1.2rem;
}

/* Styles for the light section */
.education_light {
    background-color: #f6f6f6;
    width: 66.66%;
    place-items: center;
}

.education_light_container {
    max-width: 800px;
    margin: auto;
    margin-top: 100px;
    height: 100%;
}

.one_position {
    display: grid;
    grid-template-columns: min-content auto;
    align-items: start;
    gap: 20px;
}

.year {
    font-weight: bold;
    color: #343434;
    white-space: nowrap;
}

.studyname,
.school,
.description {
    grid-column-start: 2;
}

.studyname {
    font-weight: bold;
    color: #343434;
    margin-bottom: 5px;
}

.school {
    margin-bottom: 5px;
}

.description {
    text-align: left;
    color: #343434;
    line-height: 1.6;
}

.education_dark {
    background-color: #343434;
    color: #b4b0ab;
    width: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

h1 {
    margin: 0;
    /* font-size: 2em; */
    text-align: center;
}

/* -------------- SKILLS -------------- */
.skills_content_container {
    background-color: #f6f6f6;
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: auto 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    padding: 100px;
}

.skills_content_container > h1 {
    grid-column: 1 / -1;
    text-align: left;
}

/* General progress bar definition */
.progress_outer {
    background-color: grey;
    margin: 0;
    padding: 2px;
    width: 100%;
    max-width: 500px;
    height: 30px;
    margin-bottom: 50px;
}

.com_coll + .progress_outer .progress_inner {
    height: 100%;
    background-color: Black;
}

/* ************** Subheaders ************** */
.skill_name {
    font-weight: bold;
    color: #343434;
    margin-bottom: 80px;
}

/* ************** Definition Progress Bars ************** */
.com_coll + .progress_outer .progress_inner {
    width: 98%;
}

.prob_solv + .progress_outer .progress_inner {
    height: 100%;
    width: 95%;
    background-color: Black;
}

.leadership + .progress_outer .progress_inner {
    height: 100%;
    width: 90%;
    background-color: Black;
}

.python + .progress_outer .progress_inner {
    height: 100%;
    width: 90%;
    background-color: Black;
}

.docker + .progress_outer .progress_inner {
    height: 100%;
    width: 80%;
    background-color: Black;
}

.html + .progress_outer .progress_inner {
    height: 100%;
    width: 70%;
    background-color: Black;
}

.german + .progress_outer .progress_inner {
    height: 100%;
    width: 100%;
    background-color: Black;
}

.english + .progress_outer .progress_inner {
    height: 100%;
    width: 95%;
    background-color: Black;
}

.french + .progress_outer .progress_inner {
    height: 100%;
    width: 80%;
    background-color: Black;
}

/* -------------- CONTACT -------------- */
.contact_container {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 20px;
    height: 100vh;
    width: 100vw;
}

.contact_container img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.contact_image {
    height: 50%;
    padding-left: 20%;
    overflow: auto;
}

.contact_text_container {
    color: white;
    text-align: left;
    padding: 0 10%;
}

.contact_text_container h1 {
    font-size: 1em;
    margin-bottom: 6rem;
    text-align: left;
}

.contact_text_container h2 {
    font-size: 0.8em;
    margin-bottom: 0;
}

.contact_text_container p {
    font-size: 0.5em;
    margin-top: 0;
}

.contact_text_container h3 {
    font-size: 0.5em;
    margin-top: 4em;
}

.social_links {
    display: grid;
    height: 10px;
    grid-template-columns: repeat(6, 1fr);
    gap: 0px;
    place-items: left;
}

.social_links img {
    width: auto;
    height: 100%;
    max-height: 80px;
}

.social_link {
    color: white;
    text-decoration: none;
    margin-right: 5px;
}
