/* CSS Variables for consistent theming */
:root {
    --primary-color: #343434;
    --secondary-color: #535353;
    --tertiary-color: #a0483d;
    --fourtiary-color: #b4b0ab;
    --fifthiary-color: #f6f6f6;
    --font-family: "DM Sans", sans-serif;
    --base-font-size: 62.5%; /* 10px */
    --document-font-size: 1.6rem;
    --heading-font-family: "Clear Sans", sans-serif;
    --title-line-height: 6rem;
    --line-height: 2.4rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins and paddings */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure,
figcaption {
    margin: 0;
    padding: 0;
}

/* Set base font size for responsive text scaling */
html {
    font-size: var(--base-font-size);
}

/* Body base styles */
body {
    font-family: var(--font-family);
    font-size: var(--document-font-size);
    line-height: var(--line-height);
    color: var(--primary-color); /* Default text color */
    background-color: var(--secondary-color);
}

/* Headings base styles */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font-family);
    line-height: var(--title-line-height);
}

h1 {
    font-size: 5.6rem;
    letter-spacing: 0.5rem;
    padding-bottom: 5rem;
}

h2 {
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 120%;
    padding-bottom: 3rem;
}

h3 {
    font-size: 2rem;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Universal button styling */
.button-link {
    display: inline-block;
    text-decoration: none;
    background-color: #a0483d;
    color: #f6f6f6;
    padding: 1rem 6rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease;
}

.button-link:hover {
    background-color: #c95b4c;
}

/* -------------- HOME -------------- */
.home_container {
    background-color: #f6f6f6;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
    gap: 2rem;
    height: 100vh;
    width: 100vw;
}

.home_container img {
    height: 100%;
    width: auto;
    object-fit: cover;
}

.home_image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home_text {
    text-align: center;
    padding-top: 20rem;
}

/* -------------- ABOUT -------------- */
.about {
    background-color: var(--fourtiary-color);
    color: var(--primary-color);
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
}

.about h1,
.about p {
    text-align: left;
    padding-left: 20%;
    padding-right: 20%;
}

.about h1 {
    padding-top: 15rem;
    margin-bottom: 5rem;
    text-align: le;
}

.about p {
    margin-top: 1rem;
}

/* -------------- EXPERIENCE + EDUCATION -------------- */
.main_listing_container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.light_container {
    display: felx;
    justify-content: center;
    align-items: center;
    background-color: var(--fifthiary-color);
    height: 100vh;
    padding-top: 2%;
    width: 66.66%;
    place-items: center;
    overflow-y: auto;
}

.light_container_eduction {
    display: felx;
    justify-content: center;
    align-items: center;
    background-color: var(--fifthiary-color);
    height: 100vh;
    padding-top: 10%;
    width: 66.66%;
    place-items: center;
    overflow-y: auto;
}

.light_content_container {
    max-width: 80rem;
    margin: auto;
    height: 100%;
    margin-left: 4rem;
    margin-right: 4rem;
    padding-top: auto;
}

.one_position {
    display: grid;
    grid-template-columns: min-content auto;
    align-items: start;
    column-gap: 8rem;
    row-gap: 0.6rem;
    /* padding-bottom: 1rem; */
    margin-bottom: 2rem;
}

.year {
    font-weight: bold;
    white-space: nowrap;
}

.title,
.institution,
.description {
    grid-column-start: 2;
}

.title {
    font-weight: bold;
    margin-bottom: 0rem;
}

.dark_third_width {
    background-color: var(--secondary-color);
    color: var(--fourtiary-color);
    width: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    text-align: center;
}

/* -------------- SKILLS -------------- */
.skills_content_container {
    background-color: var(--fifthiary-color);
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: auto 1fr;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1rem;
    column-gap: 6rem;
    padding: 10rem;
}

.skills_content_container > h1 {
    grid-column: 1 / -1;
    text-align: left;
}

.skills_content_container p {
    margin-bottom: 1rem;
}

.skill_name {
    font-weight: bold;
    padding-bottom: 4rem;
}

.progress_outer {
    background-color: grey;
    margin: 0;
    padding: 0.4rem;
    width: 100%;
    max-width: 50rem;
    height: 3rem;
    margin-bottom: 5rem;
}

.progress_inner {
    height: 100%;
    background-color: black;
}

.com_coll + .progress_outer .progress_inner {
    width: 98%;
}

.prob_solv + .progress_outer .progress_inner {
    width: 95%;
}

.leadership + .progress_outer .progress_inner {
    width: 90%;
}

.python + .progress_outer .progress_inner {
    width: 90%;
}

.docker + .progress_outer .progress_inner {
    width: 80%;
}

.html + .progress_outer .progress_inner {
    width: 70%;
}

.german + .progress_outer .progress_inner {
    width: 100%;
}

.english + .progress_outer .progress_inner {
    width: 95%;
}

.french + .progress_outer .progress_inner {
    width: 80%;
}

/* -------------- CONTACT -------------- */
.contact_container {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 0rem;
    height: 100vh;
    width: 100vw;
}

.contact_image {
    display: flex;
    height: 70%;
    padding-left: 20%;
    overflow: hidden;
}

.contact_container img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.contact_text_container {
    color: var(--fifthiary-color);
    text-align: left;
    padding: 0 5%;
}

.contact_text_container h3 {
    margin-top: 6rem;
}

.social_links {
    display: grid;
    height: 0.5rem;
    grid-template-columns: repeat(6, 1fr);
    gap: 0;
    place-items: left;
}

.social_links img {
    width: 4rem;
    height: 100%;
    max-height: 5rem;
}
